In [303]:
# Import packages
import os
import pandas as pd

# Set base path for reproducibility
base_path = os.path.join(os.getcwd(), "Capstone Project Data")

# Set file paths for each semester
file_fall21 = os.path.join(base_path, "College of InfoSci_Fall 2021 - CLEANED.xlsx")
file_fall22 = os.path.join(base_path, "College of InfoSci_Fall 2022 - CLEANED.xlsx")
file_fall23 = os.path.join(base_path, "College of InfoSci_Fall 2023 - CLEANED.xlsx")
file_fall24 = os.path.join(base_path, "College of InfoSci_Fall 2024 - CLEANED.xlsx")
file_spring22 = os.path.join(base_path, "College of InfoSci_Spring 2022 - CLEANED.xlsx")
file_spring23 = os.path.join(base_path, "College of InfoSci_Spring 2023 - CLEANED.xlsx")
file_spring24 = os.path.join(base_path, "College of InfoSci_Spring 2024 - CLEANED.xlsx")
file_spring25 = os.path.join(base_path, "College of InfoSci_Spring 2025 - CLEANED.xlsx")

In [304]:
# Load each file into a separate DataFrame

# Fall DFs
df_fall21 = pd.read_excel(file_fall21)
df_fall22 = pd.read_excel(file_fall22)
df_fall23 = pd.read_excel(file_fall23)
df_fall24 = pd.read_excel(file_fall24)

# Spring DFs
df_spring22 = pd.read_excel(file_spring22)
df_spring23 = pd.read_excel(file_spring23)
df_spring24 = pd.read_excel(file_spring24)
df_spring25 = pd.read_excel(file_spring25)

Create Dictionary (dfs) for all our DataFrames. Will use the Dictionary for data cleansing with for-loops

In [305]:
# Dictionary of all our DataFrames
dfs = {
    "df_fall21": df_fall21,
    "df_fall22": df_fall22,
    "df_fall23": df_fall23,
    "df_fall24": df_fall24,
    "df_spring22": df_spring22,
    "df_spring23": df_spring23,
    "df_spring24": df_spring24,
    "df_spring25": df_spring25
}

In [306]:
# Check data types from first DF
print(df_fall21.dtypes)

Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number           float64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

In [307]:
# Check data types for each DF

for df_semester, df in dfs.items():
    print(f"\nData types for {df_semester}:")
    print(df.dtypes)

Data types for df_fall21:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number           float64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_fall22:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number           float64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_fall23:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_fall24:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_spring22:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number           float64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_spring23:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_spring24:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Data types for df_spring25:
Term                            object
Session                         object
Session Code                    object
Campus                          object
Facility                        object
Room Capacity                    int64
Subject Code                    object
Catalog Number                  object
Class Section                   object
Req Desig                       object
Component                       object
Min Units                        int64
Max Units                        int64
Combined Section                object
Enrollment Status               object
Instruction Mode                object
Class Number                     int64
Course Description              object
Class Status Code               object
Start Date              datetime64[ns]
End Date                datetime64[ns]
Class Meeting Number             int64
Meeting Days                    object
Meeting Time Start              object
Meeting Time End                object
Total Enroll                     int64
Enrollment Capacity              int64
dtype: object

Each dataframe has the same data types

Update Data Types into Integer: Room Capacity, Min Units, Max Units, Class Number, Class Meeting Number

In [308]:
# Columns to convert to Int64
columns_to_change = ["Room Capacity", "Min Units", "Max Units", "Class Number", "Class Meeting Number"]

# Iterate through our dictionary (dfs), defined above
for df_semester, df in dfs.items():
    df[columns_to_change] = df[columns_to_change].astype("Int64")    # Convert to Int64
    dfs[df_semester] = df                                            # Update dictionary
    print(f"{df_semester}: Selected columns converted to Int64")

# Double check if data updated
#print(df_fall21.dtypes)

df_fall21: Selected columns converted to Int64
df_fall22: Selected columns converted to Int64
df_fall23: Selected columns converted to Int64
df_fall24: Selected columns converted to Int64
df_spring22: Selected columns converted to Int64
df_spring23: Selected columns converted to Int64
df_spring24: Selected columns converted to Int64
df_spring25: Selected columns converted to Int64

Remove unnecessary data:
1) Component > Independent Study
2) Class Status Code > T
3) Req Desig > HONR

In [309]:
for df_semester, df in dfs.items():
    dfs[df_semester] = df[(df["Component"] != "Independent Study") &
                   (df["Class Status Code"] != "T") &
                   (df["Req Desig"] != "HONR")]
    print(f"{df_semester}: Independent Study, T status, and Honor observations removed")

df_fall21: Independent Study, T status, and Honor observations removed
df_fall22: Independent Study, T status, and Honor observations removed
df_fall23: Independent Study, T status, and Honor observations removed
df_fall24: Independent Study, T status, and Honor observations removed
df_spring22: Independent Study, T status, and Honor observations removed
df_spring23: Independent Study, T status, and Honor observations removed
df_spring24: Independent Study, T status, and Honor observations removed
df_spring25: Independent Study, T status, and Honor observations removed

Check for Missing Data in each DataFrame

In [310]:
# Check for missing values 

# Empty dictionary to store the results
missing_data_check = {}

for df_semester, df in dfs.items():
    missing_total = df.isnull().sum().sum() # Total missing values; 1st sum() sums columns, 2nd sums rows
    if missing_total > 0:                   # If missing values found, add to our empty dictionary (missing_data_check)
        missing_data_check[df_semester] = missing_total  # missing_total by df_semester adding to our missing_data_check dictionary

# Print results
if missing_data_check:
    print("DataFrames with missing values:")
    # Iterate through our missing values dictionary (missing_data_check)
    for df_semester, missing_sum in missing_data_check.items():
        print(f"{df_semester}: {missing_sum} missing values")
else:
    print("No missing data found!")

DataFrames with missing values:
df_fall21: 6 missing values
df_fall22: 6 missing values
df_spring22: 6 missing values

Fall21, Fall22, and Spring22 all have missing data

Explore what is missing in them:

In [311]:
#Explore which data is missing in Fall21, Fall22, Spring22; make new dictionary for missing data
dfs_missing = {
    "df_fall21": df_fall21,
    "df_fall22": df_fall22,
    "df_spring22": df_spring22}

for df_semester, df in dfs_missing.items():
    if df.isnull().sum().sum() > 0:                 # If there total sum of missing values found in the entire df > 0
        print(f"\nMissing data in {df_semester}:")
        print(df.isnull().sum())                    # Print each column & whether there is missing values by column

Missing data in df_fall21:
Term                    0
Session                 0
Session Code            0
Campus                  0
Facility                0
Room Capacity           0
Subject Code            0
Catalog Number          0
Class Section           0
Req Desig               0
Component               0
Min Units               0
Max Units               0
Combined Section        0
Enrollment Status       0
Instruction Mode        0
Class Number            0
Course Description      0
Class Status Code       0
Start Date              1
End Date                1
Class Meeting Number    1
Meeting Days            1
Meeting Time Start      1
Meeting Time End        1
Total Enroll            0
Enrollment Capacity     0
dtype: int64

Missing data in df_fall22:
Term                    0
Session                 0
Session Code            0
Campus                  0
Facility                0
Room Capacity           0
Subject Code            0
Catalog Number          0
Class Section           0
Req Desig               0
Component               0
Min Units               0
Max Units               0
Combined Section        0
Enrollment Status       0
Instruction Mode        0
Class Number            0
Course Description      0
Class Status Code       0
Start Date              1
End Date                1
Class Meeting Number    1
Meeting Days            1
Meeting Time Start      1
Meeting Time End        1
Total Enroll            0
Enrollment Capacity     0
dtype: int64

Missing data in df_spring22:
Term                    0
Session                 0
Session Code            0
Campus                  0
Facility                0
Room Capacity           0
Subject Code            0
Catalog Number          0
Class Section           0
Req Desig               0
Component               0
Min Units               0
Max Units               0
Combined Section        0
Enrollment Status       0
Instruction Mode        0
Class Number            0
Course Description      0
Class Status Code       0
Start Date              1
End Date                1
Class Meeting Number    1
Meeting Days            1
Meeting Time Start      1
Meeting Time End        1
Total Enroll            0
Enrollment Capacity     0
dtype: int64

The Missing Data is the same 6 columns for each of the 3 dataframes (Fall21, Fall22, Spring22):

Start Date              1

End Date                1

Class Meeting Number    1

Meeting Days            1

Meeting Time Start      1

Meeting Time End        1

Replace the Missing Data with Default Values

In [312]:
# Replace the missing data with default values

# Define what we will insert, by DF
default_values_fall21 = {
    "Start Date": pd.Timestamp("2021-08-23 00:00:00"),  #match datetime64[ns] format
    "End Date": pd.Timestamp("2021-12-08 00:00:00"),
    "Class Meeting Number": 1,
    "Meeting Days": "-",
    "Meeting Time Start": "00:00:00",
    "Meeting Time End": "00:00:00"}

default_values_fall22 = {
    "Start Date": pd.Timestamp("2022-08-22 00:00:00"),
    "End Date": pd.Timestamp("2022-12-07 00:00:00"),
    "Class Meeting Number": 1,
    "Meeting Days": "-",
    "Meeting Time Start": "00:00:00",
    "Meeting Time End": "00:00:00"}

default_values_spring22 = {
    "Start Date": pd.Timestamp("2022-01-12 00:00:00"),
    "End Date": pd.Timestamp("2022-05-04 00:00:00"),
    "Class Meeting Number": 1,
    "Meeting Days": "-",
    "Meeting Time Start": "00:00:00",
    "Meeting Time End": "00:00:00"}

#If the cell is "missing" and the Session is "Regular Academic Session", insert the default values defined above
for col, default in default_values_fall21.items():
    df_fall21.loc[(df["Session"] == "Regular Academic Session") & (df_fall21[col].isnull()), col] = default

for col, default in default_values_fall22.items():
    df_fall22.loc[(df["Session"] == "Regular Academic Session") & (df_fall22[col].isnull()), col] = default

for col, default in default_values_spring22.items():
    df_spring22.loc[(df_spring22["Session"] == "Regular Academic Session") & (df_spring22[col].isnull()), col] = default

In [313]:
# Confirm if the missing data was fixed
# Re-run the same For Loop (with dfs_missing) that originally found the missing data
for df_semester, df in dfs2.items():
    if df.isnull().sum().sum() > 0:
        print(f"\nMissing data in {df_semester}:")
        print(df.isnull().sum())
else: 
    print("Missing values fixed!")

Missing values fixed!

Missing values fixed

Next, look for In-Person Classes without Dates or Start/End Times

In [314]:
#Check In-Person Classes without Dates or Start/End Times

days_times_columns = ["Meeting Days", "Meeting Time Start", "Meeting Time End"]

# List to store missing data results & which columns to show in the final summary
filtered_rows = []
filtered_columns_to_show = ["Component", "Class Number", "Course Description", "Meeting Days", "Meeting Time Start", "Meeting Time End"]

# Iterate through each DataFrame in our dictionary "dfs"
for df_semester, df in dfs.items():
    condition = (                                   # Conditions: In Person & not Independent Study           
        (df["Instruction Mode"] == "In Person") &  
        (df["Component"] != "Independent Study")) 
    
    # Find missing observations ("-") in our days_times_columns columns
    missing_days_times = df[condition & df[days_times_columns].isin(["-"]).any(axis=1)] # .any() for any column with "-", not just 3 for 3
    
    # If missing data exists ("-"), store in missing_data_report
    if not missing_days_times.empty:
        missing_data_report[df_semester] = missing_days_times.copy()

# Print results
if missing_data_report:
    for df_semester, df_missing in missing_data_report.items():
        if isinstance(df_missing, pd.DataFrame):    # Confirm df_missing is a DataFrame before data manipulation
            #Set up our empty list (filtered_rows) to store the rows with missing data in our selected columns
            selected_data = df_missing[filtered_columns_to_show].copy() # Create new DF with our selected columns
            selected_data.insert(0, "DataFrame Name", df_semester)      # Insert new column for the Dataframe Name
            filtered_rows.append(selected_data)                         # Add to list filtered_rows by appending selected_data

    # Print results
    if filtered_rows:
        missing_data_summary = pd.concat(filtered_rows, ignore_index = True) # Transform our list (filtered_rows) to DF
    
        print("\nIn-Person Classes without Dates or Start/End Times:")
        print(missing_data_summary)
        

else:
    print("No missing schedule info found!")

In-Person Classes without Dates or Start/End Times:
  DataFrame Name   Component  Class Number           Course Description  \
0      df_fall22  Laboratory         67885    Designing an Installation
1    df_spring22  Laboratory         95553    Designing an Installation
2    df_spring25     Lecture         71113  Foundations of Data Science
3    df_spring25     Lecture         69124    Intro to Machine Learning

  Meeting Days Meeting Time Start Meeting Time End
0            -           00:00:00         00:00:00
1            -           00:00:00         00:00:00
2            -           00:00:00         00:00:00
3            -           00:00:00         00:00:00

5 Classes without Dates or Start/End Times

Decided to Delete them

In [315]:
#Delete the 5 Classes without Dates or Start/End Times

for df_semester, df in dfs.items():
    # Find those 4 Classes again
    condition = (
        (df["Instruction Mode"] == "In Person") &
        (df["Component"] != "Independent Study") &
        (df[days_times_columns].isin(["-"]).any(axis=1))) # Searching for blanks here now
    
    # Drop the rows that meet the condition
    dropped_count = df[condition].shape[0]                # Count dropped rows before deleting
    df.drop(df[condition].index, inplace=True)          # Delete the rows

    # Print how many rows were deleted
    if num_dropped > 0:
        print(f"{dropped_count} rows removed from {df_semester}.")
    else:
        print(f"No rows removed from {df_semester}.")

0 rows removed from df_fall21.
1 rows removed from df_fall22.
0 rows removed from df_fall23.
0 rows removed from df_fall24.
1 rows removed from df_spring22.
0 rows removed from df_spring23.
0 rows removed from df_spring24.
0 rows removed from df_spring25.

/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_71042/3282125677.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[condition].index, inplace=True)          # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_71042/3282125677.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[condition].index, inplace=True)          # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_71042/3282125677.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[condition].index, inplace=True)          # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_71042/3282125677.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[condition].index, inplace=True)          # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_71042/3282125677.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[condition].index, inplace=True)          # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_71042/3282125677.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[condition].index, inplace=True)          # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_71042/3282125677.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[condition].index, inplace=True)          # Delete the rows
/var/folders/qx/l6hqqfxn2yl_2wbqb4x03sf80000gn/T/ipykernel_71042/3282125677.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[condition].index, inplace=True)          # Delete the rows

In [316]:
"""
for df_semester, df in dfs.items():
    condition = (                                   # Conditions: In Person & not Independent Study           
        (df["Instruction Mode"] == "In Person") &  
        (df["Component"] != "Independent Study")) 
    
    # Find missing observations ("-") in our days_times_columns columns
    missing_days_times = df[condition & df[days_times_columns].isin(["-"]).any(axis=1)] # .any() for any column with "-", not just 3 for 3
    
    # If missing data exists ("-"), store in missing_data_report
    if not missing_days_times.empty:
        missing_data_report[df_semester] = missing_days_times.copy()

# Print results
if missing_data_report:
    for df_semester, df_missing in missing_data_report.items():
        if isinstance(df_missing, pd.DataFrame):    # Confirm df_missing is a DataFrame before data manipulation
            #Set up our empty list (filtered_rows) to store the rows with missing data in our selected columns
            selected_data = df_missing[filtered_columns_to_show].copy() # Create new DF with our selected columns
            selected_data.insert(0, "DataFrame Name", df_semester)      # Insert new column for the Dataframe Name
            filtered_rows.append(selected_data)                         # Add to list filtered_rows by appending selected_data

    # Print results
    if filtered_rows:
        missing_data_summary = pd.concat(filtered_rows, ignore_index=True) # Transform our list (filtered_rows) to DF
    
        print("\nIn-Person Classes without Dates or Start/End Times:")
        print(missing_data_summary)

else:
    print("No missing schedule info found!")"

    """

'\nfor df_semester, df in dfs.items():\n    condition = (                                   # Conditions: In Person & not Independent Study           \n        (df["Instruction Mode"] == "In Person") &  \n        (df["Component"] != "Independent Study")) \n    \n    # Find missing observations ("-") in our days_times_columns columns\n    missing_days_times = df[condition & df[days_times_columns].isin(["-"]).any(axis=1)] # .any() for any column with "-", not just 3 for 3\n    \n    # If missing data exists ("-"), store in missing_data_report\n    if not missing_days_times.empty:\n        missing_data_report[df_semester] = missing_days_times.copy()\n\n# Print results\nif missing_data_report:\n    for df_semester, df_missing in missing_data_report.items():\n        if isinstance(df_missing, pd.DataFrame):    # Confirm df_missing is a DataFrame before data manipulation\n            #Set up our empty list (filtered_rows) to store the rows with missing data in our selected columns\n            selected_data = df_missing[filtered_columns_to_show].copy() # Create new DF with our selected columns\n            selected_data.insert(0, "DataFrame Name", df_semester)      # Insert new column for the Dataframe Name\n            filtered_rows.append(selected_data)                         # Add to list filtered_rows by appending selected_data\n\n    # Print results\n    if filtered_rows:\n        missing_data_summary = pd.concat(filtered_rows, ignore_index=True) # Transform our list (filtered_rows) to DF\n    \n        print("\nIn-Person Classes without Dates or Start/End Times:")\n        print(missing_data_summary)\n\nelse:\n    print("No missing schedule info found!")"\n\n    '

?? When I run it again, it finds 10 new courses it didn't find before that are missing a day/time

Print Each DF's unique values by column & their respective counts

In [317]:
for df_semester, df in dfs.items():
    print(f"\n=== DataFrame: {df_semester} ===")
    for col in df.columns:
        print(f"\nColumn: {col}")
        value_counts = df[col].value_counts(dropna=False)
        print(value_counts)

=== DataFrame: df_fall21 ===

Column: Term
Term
Fall 2021    283
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    214
Seven Week - First           39
Seven Week - Second          30
Name: count, dtype: int64

Column: Session Code
Session Code
1      214
7W1     39
7W2     30
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    189
Arizona Online                   94
Name: count, dtype: int64

Column: Facility
Facility
Online                        211
Live Online                    15
Elec & Comp Engr, Rm 107       12
R P Harvill Bldg, Rm 460        7
Haury Anthro Bldg, Rm 216       4
Modern Languages, Rm 311        4
R P Harvill Bldg, Rm 130        4
R P Harvill Bldg, Rm 402        3
R P Harvill Bldg, Rm 415        2
R P Harvill Bldg, Rm 401        2
R P Harvill Bldg, Rm 319        2
Aero & Mech Engr, Rm S324       2
R P Harvill Bldg, Rm 232        2
R P Harvill Bldg, Rm 134        2
R P Harvill Bldg, Rm 204        1
R P Harvill Bldg, Rm 305        1
Not Available                   1
R P Harvill Bldg, Rm 101        1
Meinel Optical Sci, Rm 422      1
McClelland Park, Rm 103         1
M Pacheco ILC, Rm 141           1
C E Chavez Bldg, Rm 111         1
Biol Sci West, Rm 301           1
Aero & Mech Engr, Rm S336       1
Social Sciences, Rm 222         1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      228
44      14
31       8
68       4
32       4
62       4
40       3
51       3
33       3
48       2
80       2
24       2
0        1
120      1
145      1
75       1
112      1
56       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    81
ESOC    80
LIS     60
INFO    44
GAME    10
BE       4
PLS      4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116    10
300    10
302     9
130     9
313     8
       ..
495     1
478     1
510     1
477     1
525     1
Name: count, Length: 91, dtype: int64

Column: Class Section
Class Section
101     99
201     87
001     52
002     11
101B     5
101A     5
101C     4
101D     4
101E     3
201A     3
202      2
201B     2
102      2
005      1
003      1
101F     1
001A     1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    283
Name: count, dtype: int64

Column: Component
Component
Lecture       254
Discussion     27
Colloquium      1
Laboratory      1
Name: count, dtype: int64

Column: Min Units
Min Units
3    263
4     20
Name: count, dtype: Int64

Column: Max Units
Max Units
3    263
4     20
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       60
0590    12
0249     6
0796     6
1875     6
        ..
1365     1
2127     1
0190     1
1892     1
2041     1
Name: count, Length: 96, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      234
Closed     49
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    211
In Person        56
Live Online      16
Name: count, dtype: int64

Column: Class Number
Class Number
56206    2
56204    2
50914    2
50915    2
58499    2
        ..
66911    1
65728    1
60340    1
50529    1
64718    1
Name: count, Length: 275, dtype: Int64

Column: Course Description
Course Description
Applied Cyberinfrastruct Conc     12
Statistic Foundations Info Age    10
Digital Storytelling & Culture    10
Computational Thinking & Doing     9
Digital Discourse and Identity     8
                                  ..
Learning in Information Age        1
Special Topics                     1
Great Ideas of the Info Age        1
Foundation of Info & Inference     1
Foundations of Information         1
Name: count, Length: 83, dtype: int64

Column: Class Status Code
Class Status Code
A    283
Name: count, dtype: int64

Column: Start Date
Start Date
2021-08-23    252
2021-10-14     30
NaT             1
Name: count, dtype: int64

Column: End Date
End Date
2021-12-08    243
2021-10-13     39
NaT             1
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1       282
<NA>      1
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-      211
TR      41
MW      15
R        5
M        4
W        3
T        2
F        1
NaN      1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    211
14:00:00     13
12:30:00     13
09:30:00     13
11:00:00     11
15:30:00      6
17:00:00      4
15:00:00      3
18:00:00      3
17:30:00      2
13:00:00      1
16:00:00      1
NaN           1
12:00:00      1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    211
13:45:00     13
10:45:00     13
15:15:00     11
12:15:00     10
16:45:00      6
19:30:00      4
20:30:00      3
15:50:00      2
13:50:00      1
16:50:00      1
20:00:00      1
NaN           1
14:50:00      1
16:15:00      1
13:15:00      1
18:45:00      1
16:30:00      1
11:50:00      1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      38
1      22
5      14
2      14
3      14
11     10
25     10
10     10
12      9
4       9
13      8
8       8
30      8
24      8
14      7
7       7
6       7
23      7
16      6
22      6
20      6
9       5
15      5
32      5
21      5
29      4
17      4
31      3
19      3
26      3
28      2
18      2
42      1
113     1
38      1
36      1
98      1
40      1
146     1
91      1
39      1
33      1
77      1
151     1
92      1
44      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35     53
40     42
30     39
25     39
20     22
10     17
15     15
0      15
5       8
23      2
17      2
38      2
125     2
28      2
150     2
3       2
100     2
60      2
50      2
31      1
22      1
80      1
32      1
90      1
9       1
13      1
4       1
36      1
24      1
8       1
46      1
45      1
Name: count, dtype: int64

=== DataFrame: df_fall22 ===

Column: Term
Term
Fall 2022    272
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    184
Seven Week - Second          46
Seven Week - First           42
Name: count, dtype: int64

Column: Session Code
Session Code
1      184
7W2     46
7W1     42
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    169
Arizona Online                  103
Name: count, dtype: int64

Column: Facility
Facility
Online                        222
R P Harvill Bldg, Rm 402        6
R P Harvill Bldg, Rm 460        5
R P Harvill Bldg, Rm 411        4
Haury Anthro Bldg, Rm 216       3
R P Harvill Bldg, Rm 401        2
C E Chavez Bldg, Rm 111         2
Education, Rm 240               2
Education, Rm 310               2
R P Harvill Bldg, Rm 208        2
R P Harvill Bldg, Rm 302        2
R P Harvill Bldg, Rm 428        2
Not Available                   1
R P Harvill Bldg, Rm 130        1
Saguaro Hall, Rm 223            1
Shantz, Rm 242E                 1
R P Harvill Bldg, Rm 134        1
R P Harvill Bldg, Rm 101        1
R P Harvill Bldg, Rm 115        1
R P Harvill Bldg, Rm 111        1
Phys-Atmos Sci, Rm 404          1
Phys-Atmos Sci, Rm 312          1
McClelland Park, Rm 105         1
M Pacheco ILC, Rm 151           1
M Pacheco ILC, Rm 135           1
M Pacheco ILC, Rm 125           1
Henry Koffler Bldg, Rm 216      1
Elec & Comp Engr, Rm 107        1
C E Chavez Bldg, Rm 104         1
Social Sciences, Rm 114         1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      224
40       8
31       6
35       6
62       3
36       3
24       2
145      2
44       2
48       2
75       2
27       2
50       1
32       1
0        1
51       1
150      1
28       1
60       1
85       1
38       1
23       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    73
ISTA    65
LIS     62
INFO    57
GAME    15
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
300    10
116    10
130     8
520     8
570     8
       ..
263     1
577     1
421     1
521     1
552     1
Name: count, Length: 87, dtype: int64

Column: Class Section
Class Section
101     99
201     93
001     34
002      9
102      8
202      6
101B     2
001B     2
001A     2
101D     2
101C     2
101A     2
201B     2
201A     2
001D     1
001C     1
101E     1
101F     1
006      1
005      1
003      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    272
Name: count, dtype: int64

Column: Component
Component
Lecture       252
Discussion     20
Name: count, dtype: int64

Column: Min Units
Min Units
3    256
4     16
Name: count, dtype: Int64

Column: Max Units
Max Units
3    256
4     16
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       50
0369    10
0368     7
0370     6
0184     6
        ..
1685     1
1936     1
1137     1
0143     1
0879     1
Name: count, Length: 89, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      238
Closed     34
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    223
In Person        49
Name: count, dtype: int64

Column: Class Number
Class Number
66472    1
59711    1
58818    1
54130    1
58810    1
        ..
51816    1
61220    1
48584    1
71341    1
67514    1
Name: count, Length: 272, dtype: Int64

Column: Course Description
Course Description
Ethical Issues in Information     12
Statistic Foundations Info Age    10
Digital Storytelling & Culture    10
Computational Thinking & Doing     8
Database Dev And Mgmt              8
                                  ..
Computational Social Science       1
Foundations of Information         1
Installation Design                1
Learning in Information Age        1
Business Information               1
Name: count, Length: 78, dtype: int64

Column: Class Status Code
Class Status Code
A    272
Name: count, dtype: int64

Column: Start Date
Start Date
2022-08-22    225
2022-10-13     46
NaT             1
Name: count, dtype: int64

Column: End Date
End Date
2022-12-07    229
2022-10-12     42
NaT             1
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1       271
<NA>      1
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-      222
TR      29
M        5
W        4
MW       4
F        3
T        2
R        2
NaN      1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    222
12:30:00     11
15:30:00      8
11:00:00      8
14:00:00      8
17:00:00      4
17:30:00      2
16:00:00      2
13:00:00      2
NaN           1
08:00:00      1
10:00:00      1
09:00:00      1
15:00:00      1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    222
13:45:00     11
16:45:00      8
12:15:00      7
15:15:00      5
19:30:00      4
16:30:00      3
20:00:00      2
17:15:00      2
NaN           1
11:50:00      1
10:50:00      1
15:30:00      1
09:50:00      1
14:50:00      1
12:50:00      1
16:50:00      1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      28
1      27
9      14
20     13
4      13
10     12
3      12
8      10
2      10
7       9
5       8
23      8
24      7
26      7
6       7
12      6
17      6
14      6
16      6
28      6
30      5
21      4
25      4
13      4
35      4
33      4
22      4
32      3
11      3
15      3
29      2
18      2
81      1
27      1
46      1
37      1
43      1
38      1
19      1
101     1
42      1
140     1
80      1
123     1
86      1
66      1
31      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35     56
40     43
30     38
20     21
25     20
0      13
10     13
15     12
28      9
24      5
5       4
27      4
60      3
23      3
150     3
80      3
17      2
125     2
32      2
3       2
1       1
46      1
31      1
34      1
2       1
26      1
49      1
13      1
11      1
90      1
22      1
4       1
50      1
45      1
Name: count, dtype: int64

=== DataFrame: df_fall23 ===

Column: Term
Term
Fall 2023    314
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    216
Seven Week - First           50
Seven Week - Second          48
Name: count, dtype: int64

Column: Session Code
Session Code
1      216
7W1     50
7W2     48
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    196
Arizona Online                  118
Name: count, dtype: int64

Column: Facility
Facility
Online                        249
R P Harvill Bldg, Rm 402        7
Live Online                     6
R P Harvill Bldg, Rm 460        4
Modern Languages, Rm 411        3
R P Harvill Bldg, Rm 428        3
Civil Engineering, Rm 201       3
R P Harvill Bldg, Rm 313        2
R P Harvill Bldg, Rm 302        2
R P Harvill Bldg, Rm 301        2
R P Harvill Bldg, Rm 204        2
R P Harvill Bldg, Rm 115        2
R P Harvill Bldg, Rm 101        2
Psychology, Rm 308              2
Room To Be Announced            2
Haury Anthro Bldg, Rm 216       2
Communication, Rm 311           2
Education, Rm 240               2
Modern Languages, Rm 410        1
R P Harvill Bldg, Rm 210        1
C E Chavez Bldg, Rm 109         1
C E Chavez Bldg, Rm 110         1
R P Harvill Bldg, Rm 411        1
C E Chavez Bldg, Rm 303         1
Communication, Rm 214           1
Education, Rm 535               1
Modern Languages, Rm 202        1
R P Harvill Bldg, Rm 130        1
Engineering, Rm 307             1
R P Harvill Bldg, Rm 105        1
R P Harvill Bldg, Rm 102        1
Mines & Metallurgy, Rm 213      1
Psychology, Rm 205              1
Biol Sci West, Rm 219           1
Modern Languages, Rm 413        1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      255
40       9
42       6
30       4
31       4
75       4
48       3
50       3
43       3
35       3
36       3
62       2
44       2
51       2
25       2
38       2
99       2
28       1
55       1
23       1
32       1
145      1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    81
ESOC    72
INFO    71
LIS     65
GAME    25
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116      10
302       9
130       9
150B1     9
570       8
         ..
507       1
535       1
577       1
641       1
552       1
Name: count, Length: 96, dtype: int64

Column: Class Section
Class Section
101     102
201      98
001      44
102      13
202      12
002      12
003       4
101A      2
103       2
203       2
101D      2
101C      2
101B      2
001A      2
001B      2
201B      2
201A      2
201C      1
101E      1
101F      1
001C      1
001D      1
005       1
006       1
204       1
104       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    314
Name: count, dtype: int64

Column: Component
Component
Lecture       293
Discussion     21
Name: count, dtype: int64

Column: Min Units
Min Units
3    297
4     17
Name: count, dtype: Int64

Column: Max Units
Max Units
3    297
4     17
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       63
0704     8
0138     6
1179     6
0710     6
        ..
0757     1
1658     1
1177     1
1681     1
1655     1
Name: count, Length: 104, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      256
Closed     58
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    249
In Person        59
Live Online       6
Name: count, dtype: int64

Column: Class Number
Class Number
65475    2
65474    2
55401    2
55400    2
57295    1
        ..
68375    1
56046    1
71885    1
46000    1
62064    1
Name: count, Length: 310, dtype: Int64

Column: Course Description
Course Description
Statistic Foundations Info Age    10
Social Media and Ourselves         9
Computational Thinking & Doing     9
Database Dev And Mgmt              8
Intro to Machine Learning          8
                                  ..
Business Information               1
Foundations of Information         1
Esports Casting                    1
Comm focused Archives/Museums      1
Information Research Methods       1
Name: count, Length: 84, dtype: int64

Column: Class Status Code
Class Status Code
A    314
Name: count, dtype: int64

Column: Start Date
Start Date
2023-08-21    266
2023-10-12     48
Name: count, dtype: int64

Column: End Date
End Date
2023-12-06    264
2023-10-11     50
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    314
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     249
TR     33
MW     13
M       6
W       5
T       4
F       2
R       2
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    249
14:00:00     13
12:30:00     12
15:30:00     11
11:00:00     10
17:30:00      4
16:00:00      4
17:00:00      4
10:00:00      2
13:00:00      2
12:00:00      1
08:00:00      1
15:00:00      1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    249
13:45:00     12
16:45:00     11
12:15:00      9
15:15:00      8
16:30:00      5
17:15:00      4
19:30:00      4
20:00:00      2
11:50:00      2
18:45:00      2
13:50:00      1
09:50:00      1
15:30:00      1
12:50:00      1
14:50:00      1
17:30:00      1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      44
1      17
10     14
3      14
2      14
7      13
4      12
11     11
25     11
21     10
5      10
26      9
23      9
14      9
9       9
15      8
13      8
22      8
30      8
18      7
12      6
35      6
24      5
6       5
20      3
29      3
28      3
34      3
8       3
16      3
36      2
44      2
37      2
27      2
19      2
17      2
45      2
40      2
70      1
88      1
150     1
96      1
68      1
149     1
80      1
33      1
31      1
38      1
49      1
71      1
75      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     71
35     45
30     33
25     23
0      22
20     19
15     13
10     11
28      8
80      7
23      4
4       4
5       4
27      4
22      3
17      3
1       3
150     3
32      3
24      3
7       2
31      2
26      2
44      2
13      2
46      2
100     2
34      2
60      2
90      1
29      1
53      1
54      1
21      1
42      1
74      1
6       1
18      1
45      1
Name: count, dtype: int64

=== DataFrame: df_fall24 ===

Column: Term
Term
Fall 2024    336
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    236
Seven Week - First           52
Seven Week - Second          48
Name: count, dtype: int64

Column: Session Code
Session Code
1      236
7W1     52
7W2     48
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    216
Arizona Online                  120
Name: count, dtype: int64

Column: Facility
Facility
Online                        240
R P Harvill Bldg, Rm 402        7
Live Online                     6
R P Harvill Bldg, Rm 460        6
M Pacheco ILC, Rm 129           4
R P Harvill Bldg, Rm 428        3
R P Harvill Bldg, Rm 413        3
R P Harvill Bldg, Rm 411        3
R P Harvill Bldg, Rm 208        3
Social Sciences, Rm 206         3
Harshbarger Bldg, Rm 206        2
Phys-Atmos Sci, Rm 224          2
C E Chavez Bldg, Rm 405         2
R P Harvill Bldg, Rm 415        2
Chemistry, Rm 205               2
Civil Engineering, Rm 201       2
R P Harvill Bldg, Rm 332B       2
R P Harvill Bldg, Rm 316        2
R P Harvill Bldg, Rm 305        2
R P Harvill Bldg, Rm 115        2
R P Harvill Bldg, Rm 107        2
Psychology, Rm 204              2
Aero & Mech Engr, Rm S324       2
R P Harvill Bldg, Rm 101        2
Modern Languages, Rm 411        2
McClelland Hall, Rm 123         2
Flex In-Person                  2
M Pacheco ILC, Rm 130           2
McClelland Park, Rm 103         2
M Pacheco ILC, Rm 133           2
Saguaro Hall, Rm 114            1
C E Chavez Bldg, Rm 103         1
Elec & Comp Engr, Rm 107        1
Chemistry, Rm 218               1
M Pacheco ILC, Rm 145           1
R P Harvill Bldg, Rm 318        1
R P Harvill Bldg, Rm 313        1
Modern Languages, Rm 310        1
McClelland Hall, Rm 130         1
R P Harvill Bldg, Rm 301        1
Education, Rm 310               1
R P Harvill Bldg, Rm 130        1
Meinel Optical Sci, Rm 422      1

Course Description
Intro to Digital Cultures         10
Digital Storytelling & Culture    10
Statistic Foundations Info Age     9
Digital Dilemmas                   8
Computational Thinking & Doing     8
                                  ..
Special Topics                     1
Graduate Seminar                   1
Installation Design                1
Natural Language Processing        1
Esports Casting                    1
Name: count, Length: 89, dtype: int64

Column: Class Status Code
Class Status Code
A    298
Name: count, dtype: int64

Column: Start Date
Start Date
2023-01-11    248
2023-03-13     50
Name: count, dtype: int64

Column: End Date
End Date
2023-05-03    251
2023-03-03     47
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    298
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     242
TR     32
MW     10
M       6
T       3
W       3
F       2
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    242
14:00:00     13
12:30:00     12
15:30:00     11
11:00:00      7
15:00:00      3
10:00:00      2
16:00:00      2
13:00:00      2
17:00:00      2
12:00:00      1
08:00:00      1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    242
13:45:00     12
15:15:00     11
16:45:00     10
12:15:00      6
16:30:00      2
19:30:00      2
17:30:00      2
17:15:00      2
11:50:00      2
09:50:00      1
12:50:00      1
14:50:00      1
13:50:00      1
18:00:00      1
16:15:00      1
15:30:00      1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      49
1      28
2      16
9      12
25     11
23     11
3      11
13     10
10      9
14      9
28      8
17      8
22      8
6       7
8       7
4       7
12      7
16      6
32      5
19      5
7       5
21      4
5       4
20      4
18      4
15      4
27      4
35      3
11      3
26      3
24      2
29      2
30      2
34      2
36      2
68      2
40      2
37      2
117     1
128     1
91      1
151     1
54      1
33      1
45      1
77      1
76      1
42      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35     70
40     44
0      30
30     28
25     23
20     17
28      8
10      6
100     6
15      6
32      6
50      5
27      5
45      4
5       4
70      3
1       3
14      3
13      2
80      2
52      2
51      2
21      2
18      2
11      2
55      2
155     2
130     2
17      1
12      1
150     1
26      1
9       1
16      1
33      1
Name: count, dtype: int64

=== DataFrame: df_spring24 ===

Column: Term
Term
Spring 2024    322
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    209
Seven Week - Second          58
Seven Week - First           55
Name: count, dtype: int64

Column: Session Code
Session Code
1      209
7W2     58
7W1     55
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    205
Arizona Online                  117
Name: count, dtype: int64

Column: Facility
Facility
Online                        259
Live Online                     6
R P Harvill Bldg, Rm 332B       6
R P Harvill Bldg, Rm 411        5
R P Harvill Bldg, Rm 402        5
R P Harvill Bldg, Rm 428        4
R P Harvill Bldg, Rm 460        4
Chemistry, Rm 205               3
C E Chavez Bldg, Rm 105         3
R P Harvill Bldg, Rm 318        3
Henry Koffler Bldg, Rm 216      2
Elec & Comp Engr, Rm 107        2
Modern Languages, Rm 411        2
R P Harvill Bldg, Rm 301        2
Gittings Bldg, Rm 207           2
R P Harvill Bldg, Rm 234        2
R P Harvill Bldg, Rm 134        1
Education, Rm 308               1
Education, Rm 441A              1
R P Harvill Bldg, Rm 101        1
R P Harvill Bldg, Rm 115        1
Psychology, Rm 307              1
Psychology, Rm 205              1
Modern Languages, Rm 410        1
Mines & Metallurgy, Rm 221      1
McClelland Park, Rm 103         1
M Pacheco ILC, Rm 150           1
Not Available                   1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      265
40       8
35       7
32       7
48       4
31       4
44       4
30       3
25       3
52       3
56       3
85       2
43       2
38       2
155      1
0        1
51       1
50       1
80       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ESOC    80
ISTA    80
INFO    66
LIS     64
GAME    32
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
150B1    10
300      10
116       9
322       8
558       8
         ..
418       1
306       1
426       1
696E      1
595       1
Name: count, Length: 98, dtype: int64

Column: Class Section
Class Section
101     96
201     87
001     40
102     22
202     20
002     11
003      6
203      5
103      5
001A     3
001B     3
101B     2
204      2
101D     2
101C     2
101A     2
201A     2
104      2
210      1
110      1
101E     1
101F     1
004      1
201B     1
001C     1
001E     1
005      1
006      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    322
Name: count, dtype: int64

Column: Component
Component
Lecture       298
Discussion     21
Colloquium      2
Seminar         1
Name: count, dtype: int64

Column: Min Units
Min Units
3    304
4     16
1      2
Name: count, dtype: Int64

Column: Max Units
Max Units
3    304
4     16
6      2
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       55
0583     8
0307     7
0251     6
0285     6
        ..
2111     1
0366     1
0393     1
2110     1
1862     1
Name: count, Length: 109, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      274
Closed     48
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online    259
In Person        57
Live Online       6
Name: count, dtype: int64

Column: Class Number
Class Number
77723    2
77722    2
91785    2
91786    2
84158    1
        ..
96783    1
99239    1
83328    1
96753    1
77724    1
Name: count, Length: 318, dtype: Int64

Column: Course Description
Course Description
Social Media and Ourselves        10
Digital Storytelling & Culture    10
Intro to Machine Learning         10
Statistic Foundations Info Age     9
Computational Thinking & Doing     8
                                  ..
Chldrn+Young Adult Lit             2
Digital Learning Design & App      2
Esports Casting                    1
Graduate Seminar                   1
Inf Env/Non-dominant Pers          1
Name: count, Length: 86, dtype: int64

Column: Class Status Code
Class Status Code
A    322
Name: count, dtype: int64

Column: Start Date
Start Date
2024-01-10    264
2024-03-11     58
Name: count, dtype: int64

Column: End Date
End Date
2024-05-01    267
2024-03-01     55
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    322
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     259
TR     34
MW     13
M       7
W       5
F       3
T       1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    259
12:30:00     14
11:00:00     14
15:30:00     14
14:00:00     11
15:00:00      3
10:00:00      3
13:00:00      2
12:00:00      1
08:00:00      1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    259
13:45:00     14
12:15:00     13
16:45:00     11
15:15:00      9
17:30:00      3
18:00:00      3
16:30:00      2
11:50:00      2
15:30:00      1
13:50:00      1
12:50:00      1
14:50:00      1
09:50:00      1
12:30:00      1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      43
1      19
2      15
4      14
5      13
11     13
3      13
10     11
9      11
6      11
17     10
7      10
18      9
21      9
8       8
24      8
23      7
12      7
26      6
15      6
22      6
25      6
29      6
19      5
20      5
31      5
27      5
13      4
33      3
30      3
36      2
45      2
14      2
32      2
16      2
34      2
50      2
39      2
70      1
61      1
38      1
58      1
41      1
40      1
71      1
48      1
76      1
129     1
144     1
90      1
117     1
114     1
35      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     82
35     65
30     42
0      30
25     23
28     13
20     10
80      9
10      6
100     4
52      3
21      2
5       2
27      2
130     2
32      2
45      2
155     2
55      2
50      2
70      2
24      1
13      1
16      1
9       1
8       1
17      1
14      1
11      1
15      1
135     1
1       1
29      1
31      1
3       1
150     1
Name: count, dtype: int64

=== DataFrame: df_spring25 ===

Column: Term
Term
Spring 2025    362
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    254
Seven Week - Second          58
Seven Week - First           50
Name: count, dtype: int64

Column: Session Code
Session Code
1      254
7W2     58
7W1     50
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    234
Arizona Online                  128
Name: count, dtype: int64

Column: Facility
Facility
Online                        261
Psychology, Rm 204              9
Live Online                     6
M Pacheco ILC, Rm 129           5
Flex In-Person                  4
Education, Rm 341               4
Psychology, Rm 205              4
Modern Languages, Rm 304        3
Modern Languages, Rm 411        3
Phys-Atmos Sci, Rm 418          3
R P Harvill Bldg, Rm 402        3
Biol Sci West, Rm 237           3
Modern Languages, Rm 413        2
Modern Languages, Rm 303        2
McClelland Hall, Rm 126         2
Architecture, Rm 103            2
M Pacheco ILC, Rm 117           2
Social Sciences, Rm 222         2
Haury Anthro Bldg, Rm 129       2
M Pacheco ILC, Rm 125           2
Engineering, Rm 307             2
Chemistry, Rm 205               2
C E Chavez Bldg, Rm 316         2
Education, Rm 441A              2
Education, Rm 432               2
Education, Rm 337               2
C E Chavez Bldg, Rm 303         2
Psychology, Rm 307              1
Psychology, Rm 207              1
Psychology, Rm 304              1
C E Chavez Bldg, Rm 104         1
R P Harvill Bldg, Rm 332B       1
Communication, Rm 113           1
Shantz, Rm 247                  1
Biol Sci West, Rm 219           1
Social Sciences, Rm 411         1
Civil Engineering, Rm 201       1
Modern Languages, Rm 310        1
Modern Languages, Rm 402        1
Henry Koffler Bldg, Rm 216      1
Communication, Rm 206           1
Education, Rm 240               1
Meinel Optical Sci, Rm 432      1
McClelland Hall, Rm 132         1
McClelland Hall, Rm 127         1
Education, Rm 316               1
McClelland Hall, Rm 122         1
M Pacheco ILC, Rm 133           1
Engineering, Rm 304             1
Henry Koffler Bldg, Rm 218      1
The Commons, Rm 105             1
Name: count, dtype: int64

Column: Room Capacity
Room Capacity
1      267
40      18
28      13
32       8
30       8
36       6
38       6
44       5
56       4
99       4
43       4
25       3
35       2
42       2
94       2
83       2
60       2
20       1
48       1
54       1
125      1
85       1
217      1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
ISTA    103
INFO     80
ESOC     77
LIS      64
GAME     30
BE        4
PLS       4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
116      10
130      10
150B1     9
131       9
301       9
         ..
484       1
696E      1
505       1
550       1
426       1
Name: count, Length: 109, dtype: int64

Column: Class Section
Class Section
101     99
201     97
001     47
002     22
102     22
202     19
003      6
001B     5
001A     5
103      4
203      4
201A     3
001D     3
001C     3
104      2
204      2
101A     2
001E     2
004      2
006      2
008      1
001F     1
210      1
110      1
005      1
009      1
201B     1
207      1
205      1
107      1
105      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-    362
Name: count, dtype: int64

Column: Component
Component
Lecture       334
Discussion     25
Colloquium      2
Seminar         1
Name: count, dtype: int64

Column: Min Units
Min Units
3    338
4     22
1      2
Name: count, dtype: Int64

Column: Max Units
Max Units
3    338
4     22
6      2
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       81
2012    12
0190     6
1801     6
0543     6
        ..
0593     2
0312     2
0366     2
1592     1
1591     1
Name: count, Length: 113, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      319
Closed     43
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               261
In Person                   78
Hybrid (Flex In-Person)     17
Live Online                  6
Name: count, dtype: int64

Column: Class Number
Class Number
73173    2
67648    2
74451    1
57008    1
56480    1
        ..
57813    1
52167    1
66891    1
66889    1
52464    1
Name: count, Length: 360, dtype: Int64

Column: Course Description
Course Description
Applied Cyberinfrastruct Conc     12
Statistic Foundations Info Age    10
Computational Thinking & Doing    10
Dealing with Data                  9
Social Media and Ourselves         9
                                  ..
Graduate Seminar                   1
Foundations of Information         1
Advanced Web Design                1
Data Science, Public Interests     1
Adv ML Apps                        1
Name: count, Length: 94, dtype: int64

Column: Class Status Code
Class Status Code
A    362
Name: count, dtype: int64

Column: Start Date
Start Date
2025-01-15    304
2025-03-17     58
Name: count, dtype: int64

Column: End Date
End Date
2025-05-07    312
2025-03-07     50
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    360
2      2
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     265
TR     49
MW     20
F      10
M       9
W       7
T       2
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    265
11:00:00     26
12:30:00     19
15:30:00     16
14:00:00     12
09:30:00      6
15:00:00      5
13:00:00      4
09:00:00      3
10:00:00      2
16:00:00      1
08:00:00      1
12:00:00      1
17:30:00      1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    265
12:15:00     20
13:45:00     19
16:45:00     13
15:15:00     12
12:50:00      6
10:45:00      6
14:50:00      4
10:50:00      3
17:30:00      3
18:00:00      3
16:50:00      2
11:50:00      2
18:30:00      1
09:50:00      1
13:50:00      1
18:45:00      1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      41
1      26
2      20
3      19
7      18
4      18
10     14
8      12
11     11
9      11
21     11
25     10
5       9
16      9
6       9
27      8
22      8
20      8
13      8
23      7
12      7
26      6
17      6
14      5
18      5
15      4
28      4
30      4
24      3
29      3
36      3
40      3
31      3
41      3
43      2
39      2
45      2
34      2
19      2
42      2
44      2
90      1
46      1
47      1
83      1
75      1
35      1
150     1
38      1
33      1
103     1
37      1
68      1
Name: count, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35     76
40     74
30     51
25     26
0      25
20     15
28     13
50     12
80     10
100     9
60      9
45      4
10      4
1       3
27      3
6       2
52      2
5       2
37      2
21      2
120     2
70      2
24      1
47      1
155     1
16      1
9       1
200     1
11      1
17      1
125     1
14      1
150     1
43      1
42      1
4       1
Name: count, dtype: int64

Explore Co-Convened Classes

In [318]:
for df_semester, df in dfs.items():
    # Find for co-convened courses
    co_convened_rows = df[df["Combined Section"] != "-"] # Any value besides "-" is co-convened

    # Count total number of co-convened courses (rows) & how many are unique ("combined section")
    co_convened_total = co_convened_rows.shape[0]
    co_convened_unique = co_convened_rows["Combined Section"].nunique()

    print(f"{df_semester}: {co_convened_total} co-convened courses, {co_convened_unique} unique co-convened course groups (Combined Sections)")

df_fall21: 223 co-convened courses, 95 unique co-convened course groups (Combined Sections)
df_fall22: 222 co-convened courses, 88 unique co-convened course groups (Combined Sections)
df_fall23: 251 co-convened courses, 103 unique co-convened course groups (Combined Sections)
df_fall24: 261 co-convened courses, 104 unique co-convened course groups (Combined Sections)
df_spring22: 219 co-convened courses, 92 unique co-convened course groups (Combined Sections)
df_spring23: 244 co-convened courses, 92 unique co-convened course groups (Combined Sections)
df_spring24: 267 co-convened courses, 108 unique co-convened course groups (Combined Sections)
df_spring25: 281 co-convened courses, 112 unique co-convened course groups (Combined Sections)

Now that data is cleaned, Combine into Fall, Spring, and All DataFrames

In [319]:
#Combined DataFrames: Fall, Spring, and All
df_fall_all = pd.concat([df_fall21, df_fall22, df_fall23, df_fall24],ignore_index=True)
df_spring_all = pd.concat([df_spring22, df_spring23, df_spring24, df_spring25], ignore_index=True)
df_all = pd.concat([df_fall_all, df_spring_all], ignore_index=True)

dfs_cleaned = {
    "df_fall_all": df_fall_all,
    "df_spring_all": df_spring_all,
    "df_all": df_all
    }

In [320]:
#Save DataFrames to Excel (.xlsx)

for df_semester, df in dfs_cleaned.items():
    filename = f"{df_semester}.xlsx"        # Save file name
    df.to_excel(filename, index=False)      # Save to Excel
    print(f"Saved {df_semester} to {filename}")

Saved df_fall_all to df_fall_all.xlsx
Saved df_spring_all to df_spring_all.xlsx
Saved df_all to df_all.xlsx

Print Unique Values by Columns again, now for our combined dataframes

In [322]:
for df_semester, df in dfs_cleaned.items():
    print(f"\n=== DataFrame: {df_semester} ===")
    for col in df.columns:
        print(f"\nColumn: {col}")
        value_counts = df[col].value_counts(dropna=False)
        print(value_counts)

=== DataFrame: df_fall_all ===

Column: Term
Term
Fall 2024    433
Fall 2023    415
Fall 2021    346
Fall 2022    345
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    1175
Seven Week - First           187
Seven Week - Second          177
Name: count, dtype: int64

Column: Session Code
Session Code
1      1175
7W1     187
7W2     177
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    1054
Arizona Online                   485
Name: count, dtype: int64

Column: Facility
Facility
Online                      978
Not Available               220
Room To Be Announced         53
Live Online                  31
R P Harvill Bldg, Rm 402     23
                           ...
Modern Languages, Rm 413      1
M Pacheco ILC, Rm 125         1
R P Harvill Bldg, Rm 102      1
R P Harvill Bldg, Rm 105      1
C E Chavez Bldg, Rm 109       1
Name: count, Length: 92, dtype: int64

Column: Room Capacity
Room Capacity
1      1013
0       220
99       57
40       34
31       24
44       19
48       14
36       12
35       12
51       10
62       10
28        9
32        9
42        8
50        8
80        7
75        7
43        6
23        5
68        5
30        5
145       4
33        4
60        4
25        4
56        4
24        4
38        4
27        3
72        2
57        2
143       2
74        2
112       1
150       1
85        1
120       1
55        1
52        1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
INFO    491
ISTA    371
ESOC    296
LIS     296
GAME     77
BE        4
PLS       4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
698    48
692    47
116    40
130    38
300    37
       ..
414     1
560     1
306     1
621     1
595     1
Name: count, Length: 136, dtype: int64

Column: Class Section
Class Section
201     415
101     395
001     259
002      88
003      44
102      39
202      37
005      29
004      26
006      21
007      16
008      15
101A     11
009      11
001A     11
201A     10
101B      9
001B      9
010       8
101D      8
101C      8
104       7
201B      7
204       6
001C      5
101E      5
203       5
001D      5
011       4
103       4
101F      3
015       2
205       2
001E      2
013       2
014       2
012       2
201C      2
105       2
016       1
017       1
202A      1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-       1515
HONR      24
Name: count, dtype: int64

Column: Component
Component
Lecture              1109
Independent Study     331
Discussion             94
Colloquium              3
Laboratory              2
Name: count, dtype: int64

Column: Min Units
Min Units
3    1157
1     305
4      77
Name: count, dtype: Int64

Column: Max Units
Max Units
3    1195
6     205
4     102
9      37
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       580
0590     12
0369     10
0306     10
0187      8
       ...
1177      1
1681      1
0615      1
0614      1
1655      1
Name: count, Length: 367, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      1334
Closed     205
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               979
In Person                  516
Live Online                 32
Hybrid (Flex In-Person)     12
Name: count, dtype: int64

Column: Class Number
Class Number
47868    2
50915    2
50480    2
30973    2
48329    2
        ..
56228    1
61218    1
62646    1
59690    1
57776    1
Name: count, Length: 1482, dtype: Int64

Column: Course Description
Course Description
Directed Research                 97
Independent Study                 55
Internship                        49
Capstone                          48
Statistic Foundations Info Age    40
                                  ..
Special Topics                     1
Foundation of Info & Inference     1
Esports Casting                    1
Adv ML Apps                        1
Collection Management              1
Name: count, Length: 116, dtype: int64

Column: Class Status Code
Class Status Code
A    1537
T       2
Name: count, dtype: int64

Column: Start Date
Start Date
2024-08-26    384
2023-08-21    366
2021-08-23    315
2022-08-22    297
2023-10-12     49
2024-10-17     49
2022-10-13     48
2021-10-14     31
Name: count, dtype: int64

Column: End Date
End Date
2024-12-11    380
2023-12-06    364
2021-12-08    306
2022-12-07    302
2024-10-16     53
2023-10-11     51
2022-10-12     43
2021-10-13     40
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    1539
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     1251
TR     149
MW      61
M       23
W       17
F       17
T       12
R        9
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    1248
11:00:00      62
14:00:00      51
12:30:00      48
15:30:00      39
09:30:00      21
17:00:00      14
17:30:00      12
15:00:00       9
13:00:00       8
16:00:00       7
10:00:00       5
12:00:00       3
18:00:00       3
08:00:00       3
09:00:00       3
00:00:00       2
01:00:00       1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    1248
13:45:00      48
12:15:00      47
16:45:00      39
15:15:00      38
10:45:00      21
19:30:00      14
16:30:00      12
12:50:00      10
11:50:00      10
20:00:00       7
14:50:00       6
17:15:00       6
18:45:00       5
17:30:00       4
16:50:00       3
20:30:00       3
13:50:00       3
09:50:00       3
10:50:00       3
00:00:00       2
15:30:00       2
15:50:00       2
16:15:00       1
13:15:00       1
01:00:00       1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      306
1      167
2       79
3       63
5       57
      ...
146      1
91       1
77       1
151      1
142      1
Name: count, Length: 79, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     248
35     208
30     205
5      163
10     141
25     104
20      93
0       72
15      44
28      22
80      21
50      17
23      15
1       14
27      13
60      11
150     10
24      10
17      10
31       9
32       9
3        8
4        7
46       6
100      6
125      6
13       5
26       5
22       5
45       5
34       4
7        4
29       3
70       3
90       3
21       2
57       2
74       2
6        2
56       2
44       2
38       2
18       2
2        2
9        2
8        2
42       1
49       1
11       1
53       1
54       1
36       1
72       1
68       1
Name: count, dtype: int64

=== DataFrame: df_spring_all ===

Column: Term
Term
Spring 2025    470
Spring 2024    409
Spring 2023    378
Spring 2022    339
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    1195
Seven Week - Second          216
Seven Week - First           185
Name: count, dtype: int64

Column: Session Code
Session Code
1      1195
7W2     216
7W1     185
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    1113
Arizona Online                   483
Name: count, dtype: int64

Column: Facility
Facility
Online                       1034
Not Available                 239
Room To Be Announced           48
R P Harvill Bldg, Rm 402       23
Live Online                    22
                             ...
Communication, Rm 206           1
Education, Rm 316               1
Aero & Mech Engr, Rm S336       1
Engineering, Rm 304             1
The Commons, Rm 105             1
Name: count, Length: 93, dtype: int64

Column: Room Capacity
Room Capacity
1      1056
0       239
99       60
40       49
32       23
31       16
35       16
28       14
25       13
48       13
44       12
30       11
38        8
43        8
36        7
56        7
52        6
23        3
55        3
42        3
85        3
51        3
83        2
125       2
60        2
94        2
50        2
80        2
155       2
70        1
142       1
33        1
132       1
68        1
27        1
54        1
20        1
217       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
INFO    485
ISTA    371
LIS     322
ESOC    317
GAME     93
BE        4
PLS       4
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
692    59
698    39
300    37
116    37
130    34
       ..
457     1
621     1
442     1
542     1
200     1
Name: count, Length: 149, dtype: int64

Column: Class Section
Class Section
101     410
201     404
001     244
002      80
102      60
202      54
003      49
004      31
005      19
006      18
001A     15
007      14
001B     14
008      13
028      10
042      10
009       9
201A      9
103       9
203       9
101A      8
010       8
101D      6
101C      6
001C      6
101B      6
013       6
020       5
001E      5
011       5
110       4
025       4
104       4
201B      4
204       4
001D      3
101E      3
101F      3
019       3
210       3
015       2
014       2
012       2
039       2
048       2
001F      1
016       1
017       1
018       1
021       1
207       1
205       1
107       1
105       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-       1565
HONR      31
Name: count, dtype: int64

Column: Component
Component
Lecture              1165
Independent Study     330
Discussion             88
Colloquium              8
Seminar                 4
Laboratory              1
Name: count, dtype: int64

Column: Min Units
Min Units
3    1210
1     316
4      70
Name: count, dtype: Int64

Column: Max Units
Max Units
3    1239
6     213
4     105
9      39
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       578
2012     12
0354     10
0583      8
1059      7
       ...
0393      1
2127      1
2126      1
2117      1
1591      1
Name: count, Length: 375, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      1389
Closed     207
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               1034
In Person                   523
Live Online                  22
Hybrid (Flex In-Person)      17
Name: count, dtype: int64

Column: Class Number
Class Number
81177    3
74883    3
61679    2
74661    2
64589    2
        ..
70502    1
61746    1
63490    1
67002    1
52464    1
Name: count, Length: 1546, dtype: Int64

Column: Course Description
Course Description
Directed Research                 101
Independent Study                  55
Internship                         48
Capstone                           39
Statistic Foundations Info Age     37
                                 ...
Foundation of Info & Inference      1
Foundations of Information          1
Natural Language Processing         1
Special Topics                      1
Visual Content Creation             1
Name: count, Length: 127, dtype: int64

Column: Class Status Code
Class Status Code
A    1582
T      14
Name: count, dtype: int64

Column: Start Date
Start Date
2025-01-15    412
2024-01-10    351
2023-01-11    328
2022-01-12    289
2024-03-11     58
2025-03-17     58
2022-03-14     50
2023-03-13     50
Name: count, dtype: int64

Column: End Date
End Date
2025-05-07    420
2024-05-01    354
2023-05-03    330
2022-05-04    307
2024-03-01     55
2025-03-07     50
2023-03-03     48
2022-03-04     32
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    1594
2       2
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     1319
TR     147
MW      57
M       29
F       17
W       15
T       11
R        1
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    1318
11:00:00      63
12:30:00      54
15:30:00      50
14:00:00      48
15:00:00      12
10:00:00       9
09:30:00       9
13:00:00       9
16:00:00       6
08:00:00       4
12:00:00       4
09:00:00       3
17:30:00       2
18:00:00       2
17:00:00       2
00:00:00       1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    1318
13:45:00      54
12:15:00      50
15:15:00      43
16:45:00      41
11:50:00      11
17:30:00       9
10:45:00       9
12:50:00       9
18:00:00       8
14:50:00       7
16:30:00       5
09:50:00       4
18:30:00       4
13:50:00       4
10:50:00       3
20:30:00       2
17:15:00       2
19:30:00       2
15:30:00       2
16:50:00       2
18:45:00       2
17:45:00       1
16:15:00       1
12:30:00       1
12:00:00       1
00:00:00       1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      349
1      159
2       96
3       64
5       51
      ...
93       1
81       1
138      1
64       1
103      1
Name: count, Length: 80, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
35     273
40     249
5      201
30     142
0      124
10     107
20     106
25      98
28      44
15      23
100     23
80      23
50      21
27      15
70      12
45      12
60       9
1        8
32       8
21       7
52       7
130      5
155      5
14       5
120      5
55       4
11       4
16       4
9        4
13       4
17       4
150      3
2        3
18       3
37       2
24       2
51       2
6        2
4        2
23       2
12       2
125      2
26       1
200      1
43       1
42       1
132      1
47       1
29       1
135      1
31       1
3        1
8        1
75       1
22       1
148      1
33       1
Name: count, dtype: int64

=== DataFrame: df_all ===

Column: Term
Term
Spring 2025    470
Fall 2024      433
Fall 2023      415
Spring 2024    409
Spring 2023    378
Fall 2021      346
Fall 2022      345
Spring 2022    339
Name: count, dtype: int64

Column: Session
Session
Regular Academic Session    2370
Seven Week - Second          393
Seven Week - First           372
Name: count, dtype: int64

Column: Session Code
Session Code
1      2370
7W2     393
7W1     372
Name: count, dtype: int64

Column: Campus
Campus
University of Arizona - Main    2167
Arizona Online                   968
Name: count, dtype: int64

Column: Facility
Facility
Online                      2012
Not Available                459
Room To Be Announced         101
Live Online                   53
R P Harvill Bldg, Rm 402      46
                            ...
R P Harvill Bldg, Rm 404       1
Saguaro Hall, Rm 225           1
Saguaro Hall, Rm 223           1
Education, Rm 308              1
The Commons, Rm 105            1
Name: count, Length: 137, dtype: int64

Column: Room Capacity
Room Capacity
1      2069
0       459
99      117
40       83
31       40
32       32
44       31
35       28
48       27
28       23
36       19
25       17
30       16
43       14
51       13
38       12
56       11
42       11
50       10
62       10
80        9
23        8
52        7
75        7
60        6
68        6
33        5
55        4
27        4
24        4
145       4
85        4
155       2
72        2
57        2
143       2
74        2
125       2
83        2
94        2
132       1
20        1
54        1
150       1
70        1
142       1
112       1
120       1
217       1
Name: count, dtype: Int64

Column: Subject Code
Subject Code
INFO    976
ISTA    742
LIS     618
ESOC    613
GAME    170
BE        8
PLS       8
Name: count, dtype: int64

Column: Catalog Number
Catalog Number
692    106
698     87
116     77
300     74
130     72
      ...
345      2
542      1
355      1
442      1
200      1
Name: count, Length: 157, dtype: int64

Column: Class Section
Class Section
201     819
101     805
001     503
002     168
102      99
003      93
202      91
004      57
005      48
006      39
007      30
008      28
001A     26
001B     23
009      20
101A     19
201A     19
010      16
101B     15
203      14
101D     14
101C     14
103      13
001C     11
201B     11
104      11
028      10
204      10
042      10
011       9
001D      8
101E      8
013       8
001E      7
101F      6
020       5
015       4
012       4
025       4
110       4
014       4
205       3
105       3
210       3
019       3
039       2
048       2
017       2
016       2
201C      2
202A      1
001F      1
018       1
021       1
207       1
107       1
Name: count, dtype: int64

Column: Req Desig
Req Desig
-       3080
HONR      55
Name: count, dtype: int64

Column: Component
Component
Lecture              2274
Independent Study     661
Discussion            182
Colloquium             11
Seminar                 4
Laboratory              3
Name: count, dtype: int64

Column: Min Units
Min Units
3    2367
1     621
4     147
Name: count, dtype: Int64

Column: Max Units
Max Units
3    2434
6     418
4     207
9      76
Name: count, dtype: Int64

Column: Combined Section
Combined Section
-       1158
0590      12
2012      12
0187      12
0354      10
        ...
2111       1
0103       1
1592       1
1591       1
1828       1
Name: count, Length: 664, dtype: int64

Column: Enrollment Status
Enrollment Status
Open      2723
Closed     412
Name: count, dtype: int64

Column: Instruction Mode
Instruction Mode
Fully Online               2013
In Person                  1039
Live Online                  54
Hybrid (Flex In-Person)      29
Name: count, dtype: int64

Column: Class Number
Class Number
67040    3
81177    3
74883    3
80370    2
55400    2
        ..
72732    1
70962    1
68385    1
55405    1
52464    1
Name: count, Length: 2995, dtype: Int64

Column: Course Description
Course Description
Directed Research                 198
Independent Study                 110
Internship                         97
Capstone                           87
Statistic Foundations Info Age     77
                                 ...
Special Topics                      2
Decoding Disinformation             2
Curating & Preserving Media         2
Natural Language Processing         1
Visual Content Creation             1
Name: count, Length: 137, dtype: int64

Column: Class Status Code
Class Status Code
A    3119
T      16
Name: count, dtype: int64

Column: Start Date
Start Date
2025-01-15    412
2024-08-26    384
2023-08-21    366
2024-01-10    351
2023-01-11    328
2021-08-23    315
2022-08-22    297
2022-01-12    289
2024-03-11     58
2025-03-17     58
2022-03-14     50
2023-03-13     50
2023-10-12     49
2024-10-17     49
2022-10-13     48
2021-10-14     31
Name: count, dtype: int64

Column: End Date
End Date
2025-05-07    420
2024-12-11    380
2023-12-06    364
2024-05-01    354
2023-05-03    330
2022-05-04    307
2021-12-08    306
2022-12-07    302
2024-03-01     55
2024-10-16     53
2023-10-11     51
2025-03-07     50
2023-03-03     48
2022-10-12     43
2021-10-13     40
2022-03-04     32
Name: count, dtype: int64

Column: Class Meeting Number
Class Meeting Number
1    3133
2       2
Name: count, dtype: Int64

Column: Meeting Days
Meeting Days
-     2570
TR     296
MW     118
M       52
F       34
W       32
T       23
R       10
Name: count, dtype: int64

Column: Meeting Time Start
Meeting Time Start
00:00:00    2566
11:00:00     125
12:30:00     102
14:00:00      99
15:30:00      89
09:30:00      30
15:00:00      21
13:00:00      17
17:00:00      16
10:00:00      14
17:30:00      14
16:00:00      13
12:00:00       7
08:00:00       7
09:00:00       6
18:00:00       5
00:00:00       3
01:00:00       1
Name: count, dtype: int64

Column: Meeting Time End
Meeting Time End
00:00:00    2566
13:45:00     102
12:15:00      97
15:15:00      81
16:45:00      80
10:45:00      30
11:50:00      21
12:50:00      19
16:30:00      17
19:30:00      16
17:30:00      13
14:50:00      13
17:15:00       8
18:00:00       8
20:00:00       7
13:50:00       7
09:50:00       7
18:45:00       7
10:50:00       6
20:30:00       5
16:50:00       5
18:30:00       4
15:30:00       4
00:00:00       3
15:50:00       2
16:15:00       2
13:15:00       1
01:00:00       1
17:45:00       1
12:30:00       1
12:00:00       1
Name: count, dtype: int64

Column: Total Enroll
Total Enroll
0      655
1      326
2      175
3      127
5      108
      ...
97       1
59       1
57       1
79       1
103      1
Name: count, Length: 100, dtype: int64

Column: Enrollment Capacity
Enrollment Capacity
40     497
35     481
5      364
30     347
10     248
      ...
72       1
54       1
53       1

Make more DataFrames: 1) Undergrad vs Graduate, 2) Online vs In-Person